
@model Slider

@{
    ViewData["Title"] = "Create";
}

<h1>Craete a Slider</h1>

<div class="container">
<form method="post" asp-action="Create" enctype="multipart/form-data">
  <div class="row">
      <div class="mb-3 col-md-3">
        <label asp-for="SubTitle" class="form-label">SubTitle</label>
        <input  class="form-control" asp-for="SubTitle" placeholder="SubTitle">
        <span asp-validation-for="SubTitle" class="text-danger"></span>
      </div>
      <div class="mb-3 col-md-3">
        <label asp-for="Title" class="form-label">Title</label>
        <input class="form-control" asp-for="Title" placeholder="Title">
         <span asp-validation-for="Title" class="text-danger"></span>
      </div>
      <div class="mb-3 col-md-3">
        <label asp-for="RedirectUrl" class="form-label">RedirectUrl</label>
        <input  class="form-control" asp-for="RedirectUrl" placeholder="RedirectUrl">
        <span asp-validation-for="RedirectUrl" class="text-danger"></span>
      </div>
      <div class="mb-3 col-md-2">
          <label asp-for="RedirectUrlText" class="form-label">RedirectUrlText</label>
          <input  class="form-control" asp-for="RedirectUrlText" placeholder="RedirectUrlText">
          <span asp-validation-for="RedirectUrlText" class="text-danger"></span>
          </div>
  </div class="row align-items-center">
  

      <div class="row align-items-center">
      
          <div class="mb-3 col-md-4">
          <label asp-for="Description" class="form-label">Description</label>
          <textarea style="width:500px; height:100px" class="form-control"  asp-for="Description" placeholder="Description"></textarea>
          <span asp-validation-for="Description" class="text-danger"></span>
          </div>

          
      </div>

      <div style="margin-bottom:20px">
          <label asp-for="ImageFile" class="form-label">ImageFile</label>
          <input type="file" class="form-control" asp-for="ImageFile" placeholder="ImageFile">
          <span asp-validation-for="ImageFile" class="text-danger"></span>
      </div>



      <div style="display:flex; justify-content:center; align-content:center ">
           <button type="submit" class="btn btn-primary">Create</button>
      </div>
</form>
</div>

